<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%X{process} %thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

  <logger name="ch.inventsoft.scalabase" level="info"/>
  <logger name="ch.inventsoft.scalabase.oip" level="info"/>
  <logger name="ch.inventsoft.scalabase.process" level="info"/>
  <logger name="ch.inventsoft.scalaxmpp" level="debug"/>
	
  <root level="warn">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
